node_modules
.git
.vscode
.idea
dist
coverage
*.log
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
Thumbs.db
.trae
.env
.env.local
.env.prod
data/*.sqlite-shm
data/*.sqlite-wal
uploads
tests
test-results
playwright.config.js
audit-report.json
